<h1>Hello world!</h1>
 <ul> do list 
        <li><input type="checkbox"><a href="show/1">go to code now</a>
        <span> 1 pomoduro</span></li> 
        <li><input type="checkbox"><a href="show/2">don't forget your laptop</a><span class="pomo-est"> 1 pomoduro</span></li> 
        <li><input type="checkbox"><a href="show/3">bring the given homework</a><span class="pomo-est"> 1 pomoduro</span></li>
        <li><input type="checkbox"><a href="show/4">bring a pen</a><span class="pomo-est">  1 pomoduro</span> </li>
        <li><input type="checkbox"><a href="show/5">think of how great the instructor is</a><span class="pomo-est">  1 pomoduro</span></li>
        <li><input type="checkbox"><a href="show/6">leave the building</a><span class="pomo-est">  1 pomoduro</span></li> </ul>
        <input type="text">
        <input type="number">
        <input type="text" placeholder="add todo">
        <input id="add-new-todo" type="sumbit" value="enter todo">
        <%=2+2%>
       
