<h1>Hello world!</h1>
 <ul> do list 
        <%@todos.each do |todo|%>
        <li> <input type="checkbox" name=""/>
        <a href="todo/show/<%= todo.id %>"><%= todo.description %></a>
        <span class="pomodoro-estimate small-pomodoro-estimate"><%= todo.pomodoro_estimate %></span>
        </li>
        <%end%>
       <form action="/todo/create">
       <input class="text-input" id="new-todo-description" name="description" type="text" placeholder="Add a new todo...">
       <input class="text-input" id="new-pomodoro-estimate" name="pomodoro_estimate" type="number" placeholder="Pomodoro estimate...">
       <button class="button" id="add-new-todo-button" type="submit" value="Add todo">
       </form>
      
