<input type= "checkbox">
</h2>
    <a href="/todo/edit/<%= @todo.id %>" class="button edit-todo-button">Edit</a>
    
    <a href="/todo/destroy/<%=@todo.id%>" class="button delete-todo-button">delete</a>
    <a href="/">Go back.</a>
  

<%=@todo.description %>
<%=@todo.pomodoro_estimate %>
